:root {

    --main-color-yellow: #fde500;
    --main-color-black: #0b0b0b;
    --main-color-white: #ffffff;
    --main-color-grey: #f4f4f4;
  }

    /* main colors */
  
      background-color: var(--main-color-grey);

      background-color:  var(--main-color-white);

      background-color: var(--main-color-black);
 
      background-color: var(--main-color-yellow);
      background-color: var(--main-color-darkGrey);

    
    

    /* font style */
    --txttitle-color: pink;
    --txt-sub-title-color: pink;
    --txt-main-color: pink;
    --main-bg-color: pink;

    /* text colors */

  
  body {
    background-color: var(--main-bg-color);
  }